Given a dataset of demographic data that was extracted from the 1994 Census database, the following questions were required to be answered : 
(Using pandas)
* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India.

In [4]:
import pandas as pd

data = pd.read_csv('adult.data.csv')
data.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
race_counts = data['race'].value_counts()

In [6]:
average_age_men = data[data['sex'] == 'Male']['age'].mean()

In [7]:
percentage_bachelors = (data[data['education'] == 'Bachelors'].shape[0] / data.shape[0]) * 100

In [8]:
higher_education = data[data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
percentage_higher_education_rich = (higher_education[higher_education['salary'] == '>50K'].shape[0] / higher_education.shape[0]) * 100

In [9]:
lower_education = data[~data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
percentage_lower_education_rich = (lower_education[lower_education['salary'] == '>50K'].shape[0] / lower_education.shape[0]) * 100

In [10]:
min_work_hours = data['hours-per-week'].min()

In [11]:
num_min_workers = data[data['hours-per-week'] == min_work_hours]
percentage_min_workers_rich = (num_min_workers[num_min_workers['salary'] == '>50K'].shape[0] / num_min_workers.shape[0]) * 100

In [12]:
highest_earning_country = (data[data['salary'] == '>50K']['native-country'].value_counts() / data['native-country'].value_counts()).idxmax()
highest_earning_country_percentage = (data[data['salary'] == '>50K']['native-country'].value_counts() / data['native-country'].value_counts() * 100).max()

In [13]:
top_IN_occupation = data[(data['native-country'] == 'India') & (data['salary'] == '>50K')]['occupation'].value_counts().idxmax()

In [15]:
# How many people of each race are represented in this dataset?
race_counts = data['race'].value_counts()
print("Race counts:")
print(race_counts)
print()

# What is the average age of men?
average_age_men = data[data['sex'] == 'Male']['age'].mean()
print("Average age of men:", average_age_men)
print()

# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (data[data['education'] == 'Bachelors'].shape[0] / data.shape[0]) * 100
print("Percentage of people with a Bachelor's degree:", percentage_bachelors)
print()

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
higher_education = data[data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
percentage_higher_education_rich = (higher_education[higher_education['salary'] == '>50K'].shape[0] / higher_education.shape[0]) * 100
print("Percentage of people with advanced education earning >50K:", percentage_higher_education_rich)
print()

# What percentage of people without advanced education make more than 50K?
lower_education = data[~data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
percentage_lower_education_rich = (lower_education[lower_education['salary'] == '>50K'].shape[0] / lower_education.shape[0]) * 100
print("Percentage of people without advanced education earning >50K:", percentage_lower_education_rich)
print()

# What is the minimum number of hours a person works per week?
min_work_hours = data['hours-per-week'].min()
print("Minimum number of hours worked per week:", min_work_hours)
print()

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
num_min_workers = data[data['hours-per-week'] == min_work_hours]
percentage_min_workers_rich = (num_min_workers[num_min_workers['salary'] == '>50K'].shape[0] / num_min_workers.shape[0]) * 100
print("Percentage of minimum workers earning >50K:", percentage_min_workers_rich)
print()

# What country has the highest percentage of people that earn >50K and what is that percentage?
highest_earning_country = (data[data['salary'] == '>50K']['native-country'].value_counts() / data['native-country'].value_counts()).idxmax()
highest_earning_country_percentage = (data[data['salary'] == '>50K']['native-country'].value_counts() / data['native-country'].value_counts() * 100).max()
print("Country with the highest percentage of people earning >50K:", highest_earning_country)
print("Percentage:", highest_earning_country_percentage)
print()

# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = data[(data['native-country'] == 'India') & (data['salary'] == '>50K')]['occupation'].value_counts().idxmax()
print("Most popular occupation for those earning >50K in India:", top_IN_occupation)

Race counts:
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Average age of men: 39.43354749885268

Percentage of people with a Bachelor's degree: 16.44605509658794

Percentage of people with advanced education earning >50K: 46.535843011613935

Percentage of people without advanced education earning >50K: 17.3713601914639

Minimum number of hours worked per week: 1

Percentage of minimum workers earning >50K: 10.0

Country with the highest percentage of people earning >50K: Iran
Percentage: 41.86046511627907

Most popular occupation for those earning >50K in India: Prof-specialty